{% extends "base.html" %}
{% block title %}Homepage | {{ current_user.name }}{% endblock %}
{% block content %}
    <!-- user profile -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if current_user.profile_pic_url %}
                <img src="{{ current_user.profile_pic_url }}"
                     class="rounded-circle object-fit-cover d-block mx-auto mb-3"
                     alt="{{ current_user.name }}"
                     style="width: 120px;
                            height: 120px">
            {% else %}
                <h1 class="display-1 text-center mb-3">
                    <i class="bi bi-person-bounding-box"></i>
                </h1>
            {% endif %}
            <h1 class="text-center">{{ current_user.name }}</h1>
            <p class="text-secondary text-center">@{{ current_user.username }}</p>
        </div>
    </div>
    <!-- user notes -->
    {% if notes %}
        <ul>
            {% for note in notes %}
                <li>
                    <a href="#">{{ note.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- note form -->
    <form action="{{ url_for('main.home') }}" method="post">
        {{ form.hidden_tag() }}
        <legend>Note Creation Form</legend>
        <div class="mb-3">{{ form.title(class="form-control") }}</div>
        <div class="mb-5">{{ form.content(class="form-control") }}</div>
        {{ form.submit(class="btn btn-primary btn-lg") }}
    </form>
{% endblock %}
