{% extends "base.html" %}
{% block title %}Homepage | {{ current_user.name }}{% endblock %}
{% block content %}
    <!-- user profile -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if current_user.profile_pic_url %}
                <img src="{{ current_user.profile_pic_url }}"
                     class="rounded-circle object-fit-cover d-block mx-auto mb-3"
                     alt="{{ current_user.name }}"
                     style="width: 120px;
                            height: 120px">
            {% else %}
                <h1 class="display-1 text-center mb-3">
                    <i class="bi bi-person-bounding-box"></i>
                </h1>
            {% endif %}
            <h1 class="text-center">{{ current_user.name }}</h1>
            <p class="text-secondary text-center">@{{ current_user.username }}</p>
        </div>
    </div>
    <!-- user notes -->
    {% if notes %}
        <div class="row">
            {% for note in notes %}
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">{{ note.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ note.created_at.strftime("%Y-%m-%d %H:%M") }}</h6>
                            <p class="card-text">{{ note.content | truncate(100, True, '...') }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <a class="btn btn-sm btn-outline-primary" href="#">
                                <i class="bi bi-eye"></i> View
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info text-center" role="alert">
            <i class="bi bi-info-circle me-1"></i> You don't have any notes yet.
        </div>
    {% endif %}
    <!-- note form -->
    <form action="{{ url_for('main.home') }}" method="post">
        {{ form.hidden_tag() }}
        <legend>Note Creation Form</legend>
        <div class="mb-3">{{ form.title(class="form-control") }}</div>
        <div class="mb-5">{{ form.content(class="form-control") }}</div>
        {{ form.submit(class="btn btn-primary btn-lg") }}
    </form>
{% endblock %}
