<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Notes App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuToggler"
            aria-controls="menuToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menuToggler">
            <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                    {% set endpoints = {
                        'main.index': 'Home',
                        'auth.logout': 'Logout'
                    } %}
                    
                    {% for endpoint, text in endpoints.items() %}
                        <a class="nav-link{% if request.endpoint == endpoint %} active{% endif %}" 
                           href="{{ url_for(endpoint) }}">
                           {{ text }}
                        </a>
                    {% endfor %}
                {% else %}
                    {% set endpoints = {
                        'auth.login': 'Login',
                        'auth.register': 'Register'
                    } %}
                    
                    {% for endpoint, text in endpoints.items() %}
                        <a class="nav-link{% if request.endpoint == endpoint %} active{% endif %}" 
                           href="{{ url_for(endpoint) }}">
                           {{ text }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>